<div class="inventory-app">
  <products-list
    [productList]="products"                           <!-- input -->
    (onProductSelected)="productWasSelected($event)">  <!-- output -->
  </products-list>
 <!-- The [squareBrackets] pass inputs and the (parentheses) handle outputs. -->
 <!-- we can pass data to child components through inputs and we can receive data out of a child component through outputs -->
 <!--  <div> {{ product.price + 1}}</div>   Template binding: the code inside the brackets is an expression -->
 <!-- The inputs and outputs are part of the “public API” of a component. -->
</div>